

#div_mappa{
	height: 480px;
	width: 100%;
	z-index: 1;
	position: absolute;
	border-top: 2px solid #fff;
}
#div_catalogo{
	height: 100% !important;
	width: 100%;
	z-index: 1000;
	position: absolute;
	background-color: #fff;
}


ul.dynatree-container{
  border: 1px solid #ccc;
  margin: 0;
}
.mq-layermanager-toolbar{
  background-color: #ccc;
}
#layman_tree ul{
	margin: 0;
}
#layman_tree ul li{
	background-image: none;
	overflow: visible;
	width: 285px;
	text-wrap: normal;
}
#layman_tree ul li a{
	text-decoration: none;
}
.dynatree-title{
	width: 200px;
}


#buttonToc{
    position: absolute;
    right: 3px;
    top: 35px;
    z-index: 5001;
}

/* CSS PER PULSANTI NE BANNER */
/* GEOPORTALE RP */

/*
 .ui-widget-content{
  background-image: none;
  background-color: #EAEAEA;
}
*/

#layman_accordion{
	background-color: #002E3C;
}

#banner{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
	#logo_unico{
		background-image: url(img_geoportale/logo.jpg);
		position: absolute;
		width: 530px;
		height: 99px;
		top:0px;
		left:0px;
		z-index: 95;
	}
	#logo_geoportale{
		background-image: url(img_geoportale/logo_geoportale.jpg);
		position: absolute;
		width: 293px;
		height: 169px;
		top:0px;
		left:0px;
		z-index: 95;
	}
	#logo_regione{
		background-image: url(img_geoportale/logo_regione.jpg);
		position: absolute;
		width: 187px;
		height: 169px;
		top:-35px;
		right:10px;
		z-index: 95;
	}
	
	#barra_verde{
		background-image: url(img_geoportale/barra_verde.png);
		background-repeat: repeat-x;
		position: absolute;
		width: 100%;
		height: 47px;
		top:89px;
		z-index: 100;
	}
	.geopulsante{
		height:108px;
		width:100px;
		position:absolute;
		top:40px;
		text-decoration:none;
		z-index: 105;
	}
	.geopulsante_0{
		background-image: url(img_geoportale/geoportale_disabled.png);
		right:262px;
	}
	.geopulsante_0_selezionato{ 
		background-image: url(img_geoportale/geoportale_active.png);
		right:274px; 
	}
	.geopulsante_0:hover{ background-image: url(img_geoportale/geoportale_active.png); }
	
	.geopulsante_1{
		background-image: url(img_geoportale/catalogo_disabled.png);
		right:142px;
	}
	.geopulsante_1_selezionato{
		 background-image: url(img_geoportale/catalogo_active.png);
		 right:142px; 
	}
	.geopulsante_1:hover{ background-image: url(img_geoportale/catalogo_active.png); }
	
	.geopulsante_2{
		background-image: url(img_geoportale/mappe_disabled.png);
		right:30px;
	}
	.geopulsante_2_selezionato{ 
		background-image: url(img_geoportale/mappe_active.png);
		right:30px; 
	}
	.geopulsante_2:hover{ background-image: url(img_geoportale/mappe_active.png); }
	
.ui-accordion .ui-accordion-content{
  padding: 0;
}

.ui-accordion-header {
  background: url("../lib/jquery/jquery-ui-1.10.0/css/geoportale/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}
.csi_genericPane{
  background-color: #CCCCCC;
  
}


.ui-jqgrid tr td{
  color: #333;
  white-space: normal;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {  
  opacity: 1;
}

#dia_metadata_iframe{
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background: #fff;
}


/* ACCROCCHI PER FAR FUNZIONARE IL LAYOUT */
.ui-layout-center{
  /*height: 100% !important;*/
}



#layman_acc_mappe .ui-widget-content{
  background-image: none;
  background-color: #002E3C;
  border: 1px solid #fff;
  border-bottom: none;
}


#box_legenda{
	background-color: #fff;
}


/* RICERCA */
#buttonFind{
    position: absolute;
    left: 3px;
    top: 5px;
    z-index: 5002;
}
#div_find{
	position: absolute;
	top: 15px;
	left: 12px;
	background-color:#002E3C;
	width: 232px;
	height: 55px;
	z-index: 5001;
	border-radius: 5px;
	border: none;
	color: #fff;
	padding: 10px;
}

#sexy-bookmarks{display: none;}

#infoResult h3{
	font-size: 12px;
}

#maintoolbar{
	width: 150px;
	position: absolute;
	z-index: 5001;
	top: 4px;
	right: 4px;
}

#buttonFind, #buttonToc{
	background-color: #002E3C;
	background-image: none;
	color: #fff;
	font-weight: bold;
}


#layermanagergn {
    right: 12px;
    top: 40px;
}
/* CORREZIONI AGLI STILI GIà DEFINITI PER ADEGUARE IL PROGETTO */

.ui-widget-content{
	background-image: none;
}
ul.dynatree-container{
	height: 290px;
}
.olControlPanPanel{
	top: 38px;
}
.olControlScaleLine{
	left: 5px;
	bottom: 45px;
}
.ui-helper-clearfix {
    min-height: 16px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border: 1px solid #002E3C;
}