<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <distributable/>
  
  <context-param>
    <param-name>datasource.jndiname</param-name>
    <param-value>@@datasource.jndiname@@</param-value>
  </context-param>
  <context-param>
    <param-name>emailErroreDest</param-name>
    <param-value>@@emailErroreDest@@</param-value>
  </context-param>
  <context-param>
    <param-name>emailErroreMitt</param-name>
    <param-value>@@emailErroreMitt@@</param-value>
  </context-param>
  <context-param>
    <param-name>hostServerPosta</param-name>
    <param-value>@@hostServerPosta@@</param-value>
  </context-param>
  <context-param>
    <param-name>maxRecordXPagina</param-name>
    <param-value>@@maxRecordXPagina@@</param-value>
  </context-param>
    <context-param>
    <param-name>maxPagamentiXPagina</param-name>
    <param-value>@@maxPagamentiXPagina@@</param-value>
  </context-param>
  <context-param>
    <param-name>nomeComandoGIS</param-name>
    <param-value>Init</param-value>
  </context-param>
  <context-param>
    <param-name>nomeServer</param-name>
    <param-value>@@nomeServer@@</param-value>
  </context-param>
  <context-param>
    <param-name>nomeServerGIS</param-name>
    <param-value>AGR3</param-value>
  </context-param>
  <context-param>
    <param-name>urlGIS</param-name>
    <param-value>http://<WEB_SERVER_HOST:PORT>/scripts/esrimap.dll</param-value>
  </context-param>
  <context-param>
    <param-name>urlHomePageApplication</param-name>
    <param-value>@@urlHomePageApplication@@</param-value>
  </context-param>
  <context-param>
    <param-name>urlRitornoGISPA</param-name>
    <param-value>@@urlRitornoGISPA@@</param-value>
  </context-param>
  <context-param>
    <param-name>urlRitornoGISSP</param-name>
    <param-value>@@urlRitornoGISSP@@</param-value>
  </context-param>
  <context-param>
    <param-name>urlStartApplicationPA</param-name>
    <param-value>@@urlStartApplicationPA@@</param-value>
  </context-param>
  <context-param>
    <param-name>urlStartApplicationSP</param-name>
    <param-value>@@urlStartApplicationSP@@</param-value>
  </context-param>
  <context-param>
    <param-name>tokenApiManagerEndpoint</param-name>
    <param-value>@@tokenApiManagerEndpoint@@</param-value>
  </context-param>
  <context-param>
    <param-name>tokenApiManagerKey</param-name>
    <param-value>@@tokenApiManagerKey@@</param-value>
  </context-param>
  <context-param>
    <param-name>tokenApiManagerSecret</param-name>
    <param-value>@@tokenApiManagerSecret@@</param-value>
  </context-param>
  <context-param>
    <param-name>tokenApiManagerXAuth</param-name>
    <param-value>@@tokenApiManagerXAuth@@</param-value>
  </context-param>
  <context-param>
    <param-name>sigwgssrvSigwgssrvEndpoint</param-name>
    <param-value>@@sigwgssrvSigwgssrvEndpoint@@</param-value>
  </context-param>
  <context-param>
    <param-name>sigwgssrvSigwgssrvWsdl</param-name>
    <param-value>@@sigwgssrvSigwgssrvWsdl@@</param-value>
  </context-param>
<!-- parametri agripagopa		-->
	<context-param>
    <param-name>agripagopaIsPa</param-name>
    <param-value>@@agripagopaIsPa@@</param-value>
  </context-param>
  <context-param>
    <param-name>agripagopaIsNotPa</param-name>
    <param-value>@@agripagopaIsNotPa@@</param-value>
  </context-param>
  <context-param>
    <param-name>agripagopaIsSpid</param-name>
    <param-value>@@agripagopaIsSpid@@</param-value>
  </context-param>
  <context-param>
    <param-name>agripagopaPageReferral</param-name>
    <param-value>@@agripagopaPageReferral@@</param-value>
  </context-param>
   <context-param>
    <param-name>agripagopaAnnulla</param-name>
    <param-value>@@agripagopaAnnulla@@</param-value>
  </context-param>
  <context-param>
    <param-name>agripagopaWSDL</param-name>
    <param-value>@@agripagopaWSDL@@</param-value>
  </context-param>
  
	<filter>
		<filter-name>Shibboleth filter</filter-name>
		<filter-class>it.csi.shibboleth.shibfilter.ShibbolethFilter</filter-class>
		<!--
			parametri da iniettare in sessione personalizzabile per applicazione
		-->
		<init-param>
			<param-name>IRIDE_ID_SESSIONATTR</param-name>
			<param-value>identita</param-value>
		</init-param>
		<!--
			elenco delle pagine di servizio che non vanno gerizooette dal filtro
		-->
		<init-param>
			<param-name>NO_CHECK_PAGE</param-name>
			<param-value></param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Shibboleth filter</filter-name>
    <!-- url-pattern>/jsp/controller/loginPA.jsp</url-pattern -->
		<url-pattern>/secure/wrup/login.jsp</url-pattern>
	</filter-mapping>  

	<filter-mapping>
		<filter-name>Shibboleth filter</filter-name>
    <!-- url-pattern>/jsp/view/loginSispie.jsp</url-pattern -->
		<url-pattern>/secure/sisp/login.jsp</url-pattern>
	</filter-mapping>  
	
	<filter-mapping>
    <filter-name>Shibboleth filter</filter-name>
    <!-- url-pattern>/jsp/view/loginSispie.jsp</url-pattern -->
    <url-pattern>/secure/spid/login.jsp</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>PdfAnagraficaCampione</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfAnagraficaCampione</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfAnagraficaCampioneERB</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfAnagraficaCampioneERB</servlet-class>
    <load-on-startup>20</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfAnagraficaCampioneFOGFRU</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfAnagraficaCampioneFOGFRU</servlet-class>
    <load-on-startup>30</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfAnagraficaCampioneTER</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfAnagraficaCampioneTER</servlet-class>
    <load-on-startup>40</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfAnagraficaCampioneZMA</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfAnagraficaCampioneZMA</servlet-class>
    <load-on-startup>45</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfPrezziario</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfPrezziario</servlet-class>
    <load-on-startup>50</load-on-startup>
  </servlet>
   <servlet>
    <servlet-name>PdfEsempioFattura</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfEsempioFattura</servlet-class>
    <load-on-startup>60</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfRisultatoAnalisiFOG</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfRisultatoAnalisiFOG</servlet-class>
    <load-on-startup>80</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfRisultatoAnalisiFRU</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfRisultatoAnalisiFRU</servlet-class>
    <load-on-startup>81</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfRisultatoAnalisiTER</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfRisultatoAnalisiTER</servlet-class>
    <load-on-startup>82</load-on-startup>
  </servlet>
  <servlet> 
    <servlet-name>PdfAvvisoPagamento</servlet-name> 
    <servlet-class>it.csi.agrc.servlet.PdfAvvisoPagamento</servlet-class> 
    <load-on-startup>85</load-on-startup> 
  </servlet>
  <servlet> 
    <servlet-name>ServletPagaSiappagoPA</servlet-name> 
    <servlet-class>it.csi.agrc.servlet.ServletPagaSiappagoPA</servlet-class> 
    <load-on-startup>86</load-on-startup> 
  </servlet>
  <servlet>
    <servlet-name>ServletCaricaParametri</servlet-name>
    <servlet-class>it.csi.agrc.servlet.ServletCaricaParametri</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfAnagraficaCampione</servlet-name>
    <url-pattern>/jsp/report/anagraficaCampione.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfAnagraficaCampioneERB</servlet-name>
    <url-pattern>/jsp/report/anagraficaCampioneERB.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfAnagraficaCampioneFOGFRU</servlet-name>
    <url-pattern>/jsp/report/anagraficaCampioneFOG.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfAnagraficaCampioneFOGFRU</servlet-name>
    <url-pattern>/jsp/report/anagraficaCampioneFRU.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfAnagraficaCampioneTER</servlet-name>
    <url-pattern>/jsp/report/anagraficaCampioneTER.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfAnagraficaCampioneZMA</servlet-name>
    <url-pattern>/jsp/report/anagraficaCampioneZMA.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfPrezziario</servlet-name>
    <url-pattern>/jsp/report/prezziario.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfEsempioFattura</servlet-name>
    <url-pattern>/jsp/report/esempioFattura.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfRisultatoAnalisiFOG</servlet-name>
    <url-pattern>/jsp/report/risultatoAnalisiERB.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfRisultatoAnalisiFOG</servlet-name>
    <url-pattern>/jsp/report/risultatoAnalisiFOG.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfRisultatoAnalisiFRU</servlet-name>
    <url-pattern>/jsp/report/risultatoAnalisiFRU.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfRisultatoAnalisiTER</servlet-name>
    <url-pattern>/jsp/report/risultatoAnalisiTER.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping> 
    <servlet-name>PdfAvvisoPagamento</servlet-name> 
    <url-pattern>/jsp/report/avvisoPagamento.pdf</url-pattern> 
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>ServletCaricaParametri</servlet-name>
    <url-pattern>/servlet/ServletCaricaParametri</url-pattern>
  </servlet-mapping>
  <servlet-mapping> 
    <servlet-name>ServletPagaSiappagoPA</servlet-name> 
    <url-pattern>/servlet/ServletPagaSiappagoPA</url-pattern> 
  </servlet-mapping> 
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>
