<html>
<head>
<title>Servizio AGRICHIM</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script src="../layout/js/gestione.js"></script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup##rupar.gif" width="475" height="40" alt="##nomeRete"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="640">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" bgcolor="#669933">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim.gif" alt="servizio agrichim" width="173" height="14" align="top">
                      </td>
                      <td height="1" bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="135" valign="top" bgcolor="#669933">
                                    <div align="center"> <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td><p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <img src="../layout/im/tit_sx_richiesta_on.gif" alt="nuova richiesta" width="124" height="29">
                                      <br>
                                      <a href="../view/principale.jsp"><br>
                                      <img src="../layout/im/tit_sx_visBozze_off.gif" alt="visualizza bozze" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/elencoCampioni.jsp"><br>
                                      <img src="../layout/im/tit_sx_ricerca_off.gif" alt="ricerca" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/elencoPagamenti.jsp"><br>
                                      <img src="../layout/im/tit_sx_elencoPagamenti_off.gif" width="124" height="29" border="0" alt="pagamenti"></a><br>
                                      <a href="javascript:pop('../view/anagraficaUtentePOP.jsp',700,500);"><br>
                                      <img src="../layout/im/tit_sx_anagraficaUtente_off.gif" alt="anagrafica utente" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/logout.jsp"><br>
                                      <img src="../layout/im/tit_sx_logout_off.gif" alt="logout" width="124" height="29" border="0"></a>
                                      <br>
                                    </div>



                                  </td>
                                  <td height="450" valign="baseline" bgcolor="#F2F1EA"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td><h1>Nuova richiesta</h1></td>
                                      </tr>
                                      <tr>
                                        <td><h2><strong>Anagrafica del richiedente
                                            - Fase 3 Privato </strong> </h2></td>
                                      </tr>
                                    </table>
                                    <br>
									<table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr valign="top">
                                        <td width="70" class="pul">Fase 1 <br>
                                          identificazione campione</td>
                                        <td width="70" class="pul">Fase 2 <br>
                                          coordinate geografiche</td>
                                        <td width="70" class="pulselect"><span class="faseselect">Fase
                                          3 </span><br>
                                          anagrafica richiedente</td>
                                        <td width="70" class="pul">Fase 4 <br>
                                          fattura commerciale</td>
                                        <td width="70" class="pul">Fase 5 <br>
                                          dati del campione</td>
                                        <td width="70" class="pul">Fase 6 <br>
                                          analisi richiesta</td>
                                        <td width="70" class="pul">Fase 7 <br>
                                          conferma<br>
                                          dati</td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="2" cellspacing="2">
                                      <tr >
                                        <td colspan="2"> <div align="center">
                                            <b>Proprietario del campione</b> </div></td>
                                      </tr>
                                      <tr>
                                        <td width="22%" >Cognome </td>
                                        <td width="78%"><input value="##cognome" type="text" class="testoCampi" size="60" maxlength="60" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled></td>
                                      </tr>
                                      <tr>
                                        <td >Nome</td>
                                        <td><input value="##nome" type="text" class="testoCampi" size="40" maxlength="40" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled></td>
                                      </tr>
                                      <tr>
                                        <td >Codice fiscale</td>
                                        <td ><input value="##codiceFiscale" type="text" class="testoCampi" size="25" maxlength="16" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled></td>
                                      </tr>
                                      <tr>
                                        <td >Indirizzo</td>
                                        <td> <input value="##indirizzo" type="text" class="testoCampi" size="50" maxlength="40" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore1
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >CAP</td>
                                        <td> <input value="##cap" type="text" class="testoCampi" size="5" maxlength="5" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore2
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >Comune</td>
                                        <td> <input value="##comune" type="text" class="testoCampi" size="50" maxlength="40" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore3
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >E.mail</td>
                                        <td> <input value="##eMail" type="text" class="testoCampi" size="50" maxlength="50" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore4
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >Telefono fisso</td>
                                        <td> <input value="##telefono" type="text" class="testoCampi" size="25" maxlength="20" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore5
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >Cellulare</td>
                                        <td> <input value="##cellulare" type="text" class="testoCampi" size="25" maxlength="20" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore6
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >Fax</td>
                                        <td><input value="##fax" type="text" class="testoCampi" size="25" maxlength="20" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore7
                                        </td>
                                      </tr>
                                      <!--@@blkPresenteAnagrafeRichiedente-->
	                                      <tr>
	                                        <td width="30%">Anagrafica presente in Anagrafe Unica (SIAP)</td>
	                                        <td colspan="2">
	                                        	<!-- <input type="checkbox" name="chkPresenteAnagrafe" value="checkbox" $$checkedPresenteAnagrafe disabled>  -->
	                                        	$$presenteAnagrafe
	                                        </td>
	                                      </tr>
                                      <!--@@blkPresenteAnagrafeRichiedente-->                                   
                                    </table>

                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="2" cellspacing="2">
                                      <tr >
                                        <td colspan="7"> <div align="center">
                                            <b>Dati anagrafici dell'azienda rappresentata</b>
                                          </div></td>
                                      </tr>
                                      <tr>
                                        <td colspan="2" >P. Iva o Cod. Fisc. <br>(CUAA per aziende agricole)</td>
                                        <td width="58%" colspan="5"> <input value="$$codiceAzienda" type="text" class="testoCampi" size="25" maxlength="16" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore14
                                        </td>
                                      </tr>
                                      <tr>
                                        <td colspan="2" >Ragione Sociale</td>
                                        <td colspan="5"> <input value="$$ragioneSociale" type="text" class="testoCampi" size="60" maxlength="60" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore15
                                        </td>
                                      </tr>
                                      <tr>
                                        <td width="22%" >Indirizzo</td>
                                        <td colspan="6"> <input value="$$indirizzoAzienda" type="text" class="testoCampi" size="50" maxlength="40" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore8
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >CAP</td>
                                        <td colspan="6"> <input value="$$capAzienda" type="text" class="testoCampi" size="5" maxlength="5" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore9
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >Comune</td>
                                        <td colspan="6"><input value="$$comuneAzienda" type="text" class="testoCampi" size="50" maxlength="40" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore10
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >Telefono</td>
                                        <td colspan="6"> <input value="$$telefonoAzienda" type="text" class="testoCampi" size="25" maxlength="20" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore11
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >Fax</td>
                                        <td colspan="6"><input value="$$faxAzienda" type="text" class="testoCampi" size="25" maxlength="20" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore12
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >E.mail</td>
                                        <td colspan="6"> <input value="$$eMailAzienda" type="text" class="testoCampi" size="50" maxlength="50" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>
                                        ##errore13
                                        </td>
                                      </tr>
                                      <!--@@blkPresenteAnagrafeAzienda-->
	                                      <tr>
	                                        <td width="30%">Anagrafica presente in Anagrafe Unica (SIAP)</td>
	                                        <td colspan="2">
	                                        	<input type="checkbox" name="chkPresenteAnagrafe" value="checkbox" $$checkedPresenteAnagrafe disabled>
	                                        </td>
	                                      </tr>
                                      <!--@@blkPresenteAnagrafeAzienda-->                               
                                    </table>

                                   <br>
                                   <table width="490" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td><div align="center"><a href="javascript:pop('../view/anagraficaPrivatoPOP.jsp',700,500);"><img src="../layout/im/b_modifica.gif" alt="modifica" width="150" height="16" border="0"></a></div></td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="490" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td><div align="right"><a href="../view/##pageBack"><img src="../layout/im/b_tornaIndietro.gif" alt="torna indietro" width="150" height="16" border="0"></a></div></td>
                                        <td><a href="../controller/anagraficaPrivato.jsp"><img src="../layout/im/b_confermaProsegui.gif" alt="conferma e prosegui" width="150" height="16" border="0"></a></td>
                                      </tr>
                                    </table>
                                    <br>
                                  </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="CSI-Piemonte l'amministrazione piemontese alla portata di un clic"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
@@datiNonCompleti
<script>
alert("I dati anagrafici non sono completi!\nUtilizzare il pulsante 'Anagrafica utente' nel menu a sinistra\no il pulsante 'modifica' a fondo pagina.");
</script>
@@datiNonCompleti
</html>
