<html>
<head>
<title>Servizio AGRICHIM</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script src="../layout/js/gestione.js"></script>
<script src="../layout/js/mail.js"></script>
<script src="../layout/js/trim.js"></script>
<script src="../layout/js/testLength.js"></script>
<script src="../layout/js/isNumber.js"></script>
<script src="../layout/js/codiceFiscale.js"></script>
<script src="../layout/js/partitaIVA.js"></script>
<script src="../layout/js/fase3LAR.js"></script>
<script type="text/javascript" src="/assets/application/agrichim/gis/lib/jquery/jquery-1.9.0.min.js"></script>
<script>
  var msg="Effettuare la ricerca per verificare che la Partita IVA/Codice fiscale inseriti siano corretti";
  function scelta()
  {
    if (document.anagraficaUtenteLAR.codiceIdentificativo.value.trim()!='' && document.anagraficaUtenteLAR.codiceIdentificativo.value!=document.anagraficaUtenteLAR.codiceIdentificativoOld.value)
    {
      document.anagraficaUtenteLAR.action="../controller/anagraficaUtenteLARDup.jsp";
    }
    if (salva(document.anagraficaUtenteLAR)) document.anagraficaUtenteLAR.submit();
  }
  function conferma()
  {
    document.anagraficaUtenteLAR.action="../view/anagraficaUtenteLARCombo.jsp";
    document.anagraficaUtenteLAR.submit();
  }
  function addTecnico(idAnagrafica,cognomeNome)
  {
    myEle = document.createElement("option");
    myEle.value = idAnagrafica;
    myEle.selected = true;
    myEle.text = cognomeNome;
    document.anagraficaUtenteLAR.anagraficaTecnico.options[document.anagraficaUtenteLAR.anagraficaTecnico.options.length]=myEle;
  }

  function tipoUtenteCheck(isTipoTecnico)
  {
    if (isTipoTecnico)
    {
      document.anagraficaUtenteLAR.tipoOrganizzazione.disabled=false;
      document.anagraficaUtenteLAR.organizzazione.disabled=false;
      document.anagraficaUtenteLAR.anagraficaTecnico.disabled=false;
    }
    else
    {
      document.anagraficaUtenteLAR.tipoOrganizzazione.disabled=true;
      document.anagraficaUtenteLAR.organizzazione.disabled=true;
      document.anagraficaUtenteLAR.anagraficaTecnico.disabled=true;
      document.anagraficaUtenteLAR.tipoOrganizzazione.selectedIndex=0;
      document.anagraficaUtenteLAR.organizzazione.selectedIndex=0;
      document.anagraficaUtenteLAR.anagraficaTecnico.selectedIndex=0;
    }
  }
  function modificaAnagrafica()
  {
	  $("#modificaAnagrafica" ).hide();
	  $("#comuneButton" ).show();
	  $("#cognomeRagioneSociale").prop("readonly", false);
	  $("#nome").prop("readonly", false);
	  $("#indirizzo").prop("readonly", false);
	  $("#cap").prop("readonly", false);
	  $("#email").prop("readonly", false);
	  $("#telefono").prop("readonly", false);
	  $("#cellulare").prop("readonly", false);
	  $("#fax").prop("readonly", false);
	  $("#disabledUpdate").val("");
  }
  
  function ricercaAnagrafica()
  {
  	if (document.anagraficaUtenteLAR.codiceIdentificativo.value =='')
  	{
  		alert('La ricerca non ha prodotto risultati');
  	}
  	else
  	{
  		document.anagraficaUtenteLAR.action='../view/anagraficaUtenteLAR.jsp';
  		document.anagraficaUtenteLAR.submit();
  	}
  }

  $(document).ready(function()
  {
	  if ($("#disabledUpdate").val()=='readonly')
	  {
		  $("#modificaAnagrafica" ).show();
		  $("#comuneButton" ).hide();
	  }
	  else
	  {
		  $("#modificaAnagrafica" ).hide();
		  $("#comuneButton" ).show();
	  }
  });
</script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC" onload="tipoUtenteCheck(document.anagraficaUtenteLAR.tipoUtente[0].checked); @@onload alert('$$messaggio'); @@onload" >
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td width="720">
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="720"><img src="../layout/im/ban_sup##rupar.gif" width="475" height="40" alt="##nomeRete"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="719">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" bgcolor="#669933">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim.gif" alt="servizio agrichim" width="173" height="14" align="top">
                      </td>
                      <td height="1" bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="135" valign="top" bgcolor="#669933">
                                    <div align="center"> <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td><p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente </strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <img src="../layout/im/tit_sx_richiesta_on.gif" alt="nuova richiesta" width="124" height="29">
                                      <br>
                                      <a href="../view/principale.jsp"><br>
                                      <img src="../layout/im/tit_sx_visBozze_off.gif" alt="visualizza bozze" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/elencoCampioni.jsp"><br>
                                      <img src="../layout/im/tit_sx_ricerca_off.gif" alt="ricerca" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/elencoPagamenti.jsp"><br>
                                      <img src="../layout/im/tit_sx_elencoPagamenti_off.gif" width="124" height="29" border="0" alt="pagamenti"></a><br>
                                      <a href="javascript:pop('../view/anagraficaUtentePOP.jsp',700,500);"><br>
                                      <img src="../layout/im/tit_sx_anagraficaUtente_off.gif" alt="anagrafica utente" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/logout.jsp"><br>
                                      <img src="../layout/im/tit_sx_logout_off.gif" alt="logout" width="124" height="29" border="0"></a>
                                      <br>
                                    </div>
                                  </td>
                                  <td width="580" height="450" valign="baseline" bgcolor="#F2F1EA">
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td><h1>Nuova richiesta</h1></td>
                                      </tr>
                                      <tr>
                                        <td><h2><strong>Anagrafica del richiedente
                                            - Fase 3 Dipendente del LAR </strong>
                                          </h2></td>
                                      </tr>
                                    </table>
                                    <br>
									<table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr valign="top">
                                        <td width="70" class="pul">Fase 1 <br>
                                          identificazione campione</td>
                                        <td width="70" class="pul">Fase 2 <br>
                                          coordinate geografiche</td>
                                        <td width="70" class="pulselect"><span class="faseselect">Fase
                                          3 </span><br>
                                          anagrafica richiedente</td>
                                        <td width="70" class="pul">Fase 4 <br>
                                          fattura commerciale</td>
                                        <td width="70" class="pul">Fase 5 <br>
                                          dati del campione</td>
                                        <td width="70" class="pul">Fase 6 <br>
                                          analisi richiesta</td>
                                        <td width="70" class="pul">Fase 7 <br>
                                          conferma<br>
                                          dati</td>
                                      </tr>
                                    </table>
                                    <br>
                                    <form name="anagraficaUtenteLAR" method="post" action="../controller/anagraficaUtenteLAR.jsp">
                                    <input type="hidden" name="disabledUpdate" id="disabledUpdate" value="##disabledUpdate">
                                    <center>
                                    <table width="98%" border="0" cellpadding="2" cellspacing="2">
                                      @@errore
                                      <tr>
                                        <td colspan="7" class="testoERRORE">I dati contrassegnati da &nbsp;<img src="../layout/im/ko.gif">&nbsp;
                                        non sono stati inseriti correttamente
                                          <br>
                                          <br>
                                        </td>
                                      </tr>
                                      @@errore
                                      <tr>
                                        <td colspan="7" > <div align="center"><strong>Tipo
                                            cliente </strong></div></td>
                                      </tr>
                                      <tr>
                                        <td width="30%">Analisi richiesta da
                                        </td>
                                        <td> <input type="radio" name="tipoUtente" value="T" ##checkedTecnico onClick="tipoUtenteCheck(true);">
                                          Tecnico
                                          <input type="radio" name="tipoUtente" value="P" ##checkedPrivato onClick="tipoUtenteCheck(false);">
                                          Privato </td>
                                      </tr>
                                      <tr>
                                        <td>Tipo organizzazione</td>
                                        <td>
                                         <select name="tipoOrganizzazione" class="testoCampi" onChange="conferma();">
                                            <option value="-1" selected>----------</option>
                                              @@tipoOrganizzazione
                                                <option value="$$cod" $$selected>$$desc</option>
                                              @@tipoOrganizzazione
                                          </select> ##errore1</td>
                                      </tr>
                                      <tr>
                                        <td>Organizzazione</td>
                                        <td>
                                         <select name="organizzazione" class="testoCampi" onChange="conferma();">
                                            <option value="-1" selected>----------</option>
                                              @@organizzazione
                                                <option value="$$cod" $$selected>$$desc</option>
                                              @@organizzazione
                                          </select> ##errore2</td>
                                      </tr>
                                      <tr>
                                        <td> Tecnico</td>
                                        <td>
                                          <select name="anagraficaTecnico" class="testoCampi">
                                            <option value="-1" selected>----------</option>
                                              @@tecnico
                                                <option value="$$cod" $$selected>$$desc</option>
                                              @@tecnico
                                          </select>##errore3
                                        <a href="#" class="pulsante" onClick="if (document.anagraficaUtenteLAR.organizzazione.selectedIndex!=0) pop('../view/nuovoTecnicoPOP.jsp');">Nuovo
                                          tecnico</a></td>
                                      </tr>
                                      <tr><td colspan="2">&nbsp;</td></tr>
                                      <tr>
                                        <td colspan="2">I dati contrassegnati
                                          con (*) sono obbligatori</td>
                                      </tr>
                                      <tr >
                                        <td colspan="2"> <div align="center">
                                            <b>Proprietario del campione</b> </div></td>
                                      </tr>
                                      <tr>
                                        <td width="30%">Tipo (*) </td>
                                        <td> <input type="radio" name="tipoPersona" value="G" ##checkedGiuridica ##disabledUpdate>
                                          Azienda
                                          <input type="radio" name="tipoPersona" value="F" ##checkedFisica ##disabledUpdate>
                                          Persona fisica </td>
                                      </tr>
                                      <tr>
                                        <td>P. Iva o Cod. Fisc. (*)<br>(CUAA per aziende agricole)</td>
                                        <td> <input name="codiceIdentificativo" type="text" class="testoCampi" size="25" maxlength="16" value="##codiceFiscale">
                                        ##errore4
                                        <input type="hidden" name="codiceIdentificativoOld" value="##codiceFiscaleOld">
                                          <a href="javascript:ricercaAnagrafica()" class="pulsante">RICERCA</a>
                                          <span id="modificaAnagrafica">
                                          	<a href="javascript:modificaAnagrafica()" class="pulsante">Modifica anagrafica</a>
                                          </span>
                                      </tr>
                                      <tr>
                                        <td>Cognome o Ragione Sociale
                                          (*)</td>
                                        <td> <input name="cognomeRagioneSociale" id="cognomeRagioneSociale" type="text" class="testoCampi" size="60" maxlength="60" value="##cognome" ##disabledUpdate>
                                        ##errore5
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Nome (* se persona fisica)</td>
                                        <td> <input name="nome" id="nome" type="text" class="testoCampi" size="40" maxlength="40" value="##nome" ##disabledUpdate>
                                        ##errore6
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Indirizzo</td>
                                        <td> <input name="indirizzo" id="indirizzo" type="text" class="testoCampi" size="50" maxlength="40" value="##indirizzo" ##disabledUpdate>
                                        ##errore7
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>CAP</td>
                                        <td> <input name="cap" id="cap" type="text" class="testoCampi" size="5" maxlength="5" value="##cap" ##disabledUpdate>
                                          &nbsp; ##errore8</td>
                                      </tr>
                                      <tr>
                                        <td>Comune (*)</td>
                                        <td>
                                         <input type="hidden" name="comuneResidenza" value="##istat">
                                         <input type="text" name="comune" class="testoCampi" size="50" maxlength="40" value="##comune" readonly>
                                         ##errore9
                                         <span id="comuneButton">
                                        <a href="javascript:popComune(document.anagraficaUtenteLAR.comuneResidenza,document.anagraficaUtenteLAR.comune);" name="comunePop" class="pulsante">Selezionare</a>
                                          </span>
                                          </td>
                                      </tr>
                                      <tr>
                                        <td>E.mail</td>
                                        <td> <input name="email" id="email" type="text" class="testoCampi" size="50" maxlength="50" value="##eMail" ##disabledUpdate>
                                        ##errore10
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Telefono fisso</td>
                                        <td> <input name="telefono" id="telefono" type="text" class="testoCampi" size="25" maxlength="20" value="##telefono" ##disabledUpdate>
                                        ##errore11
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Cellulare</td>
                                        <td> <input name="cellulare" id="cellulare" type="text" class="testoCampi" size="25" maxlength="20" value="##cellulare" ##disabledUpdate>
                                        ##errore12
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Fax</td>
                                        <td> <input name="fax" id="fax" type="text" class="testoCampi" size="25" maxlength="20" value="##fax" ##disabledUpdate>
                                        ##errore13
                                        </td>
                                      </tr>
                                      <tr>
                                        <td width="30%">Anagrafica presente in Anagrafe Unica (SIAP)</td>
                                        <td colspan="2">
                                        	<!--<input type="checkbox" name="chkPresenteAnagrafe" value="checkbox" $$checkedPresenteAnagrafe disabled> -->
                                            $$presenteAnagrafe 
                                        </td>
                                      </tr>
                                    </table>
                                    </center>
                                    </form>
                                    <br>
                                    <br>
                                    <table width="490" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td><div align="right"><a href="../view/##pageBack"><img src="../layout/im/b_tornaIndietro.gif" alt="torna indietro" width="150" height="16" border="0"></a></div></td>
                                        <td><a href="javascript:scelta();"><img src="../layout/im/b_confermaProsegui.gif" alt="conferma e prosegui" width="150" height="16" border="0"></a></td>
                                      </tr>
                                    </table>
                                    <br>
                                  </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="CSI-Piemonte l'amministrazione piemontese alla portata di un clic"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>
