<html>
<head>
<title>Servizio AGRICHIM</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script src="../layout/js/gestione.js"></script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="640" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup##rupar.gif" width="475" height="40" alt="##nomeRete"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="720">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" bgcolor="#669933">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim.gif" alt="servizio agrichim" width="173" height="14" align="top">
                      </td>
                      <td height="1" bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="135" valign="top" bgcolor="#669933">
                                    <div align="center"> <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td><p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <img src="../layout/im/tit_sx_richiesta_on.gif" alt="nuova richiesta" width="124" height="29">
                                      <br>
                                      <a href="../view/principale.jsp"><br>
                                      <img src="../layout/im/tit_sx_visBozze_off.gif" alt="visualizza bozze" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/elencoCampioni.jsp"><br>
                                      <img src="../layout/im/tit_sx_ricerca_off.gif" alt="ricerca" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/elencoPagamenti.jsp"><br>
                                      <img src="../layout/im/tit_sx_elencoPagamenti_off.gif" width="124" height="29" border="0" alt="pagamenti"></a><br>
                                      <a href="javascript:pop('../view/anagraficaUtentePOP.jsp',700,500);"><br>
                                      <img src="../layout/im/tit_sx_anagraficaUtente_off.gif" alt="anagrafica utente" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/logout.jsp"><br>
                                      <img src="../layout/im/tit_sx_logout_off.gif" alt="logout" width="124" height="29" border="0"></a>
                                      <br>
                                    </div></td>
                                  <td width="576" height="450" valign="baseline" bgcolor="#F2F1EA">
                                    <div align="center">
                                      <table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
                                        <tr>
                                          <td><h1><strong>Richiesta nuova analisi
                                              </strong></h1></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tr valign="top">
                                          <td width="70" class="pul">Fase 1 <br>
                                            identificazione campione</td>
                                          <td width="69" class="pul">Fase 2 <br>
                                            coordinate geografiche</td>
                                          <td width="69" class="pul">Fase 3 <br>
                                            anagrafica richiedente</td>
                                          <td width="69" class="pul">Fase 4 <br>
                                            fattura commerciale</td>
                                          <td width="70" class="pul">Fase 5 <br>
                                            dati del campione</td>
                                          <td width="70" class="pul">Fase 6 <br>
                                            analisi richiesta</td>
                                          <td width="70" class="pulselect"><span class="faseselect">Fase
                                            7 </span><br>
                                            conferma<br>
                                            dati</td>
                                        </tr>
                                      </table>
                                      <br>
                                      <br>
                                      <table width="98%" border="0" align="center" cellpadding="2" cellspacing="2">
                                        <tr >
                                          <td colspan="2"> <div align="center"> Controllare che tutti i dati inseriti siano corretti aprendo la<br>
                                              <a href="#" onClick="pop('../report/anagraficaCampione##tipoMateriale.pdf?idRichiesta=##idRichiesta',647,480,'pdf');" class="testoLink">scheda
                                              di accompagnamento</a>. <br>
                                              Se non ci sono errori premere invia, altrimenti tornare indietro per effettuare le correzioni.<br><br>
                                              Ricordarsi di stampare l'etichetta presente sulla prima pagina della scheda di accompagnamento ed allegarla al campione
                                              </div></td>
                                        </tr>
                                        <tr><td colspan="2">&nbsp;</td></tr>
                                        <tr><td colspan="2">&nbsp;</td></tr>
                                        <tr><td colspan="2" class="privacy"><b>INFORMATIVA PRIVACY</b></td></tr>
                                        <tr>
                                            <td class="privacy"><input type="checkbox" id="informativa1" name="informativa1" value="true"></td>
                                            <td class="privacy"><label for="informativa1">Dichiaro di aver preso visione dell'informativa sul trattamento dei dati ai sensi del Regolamento UE 2016/679 - "GDPR", pubblicata sul portale SistemaPiemonte in apertura del servizio online di prenotazione analisi.</label></td>
                                        </tr>
                                        <tr><td colspan="2" class="privacy"><b>CONSENSO AL TRATTAMENTO DEI DATI PERSONALI PROPRIETARIO CAMPIONE O EVENTUALE INTERMEDIARIO TECNICO
                                        <br>Art. 7 GDPR - Regolamento UE 2016/679</b></td></tr>
                                        <tr>
                                            <td class="privacy"><input type="checkbox" id="informativa2" name="informativa2" value="true"></td>
                                            <td class="privacy"><label for="informativa2">Dichiaro inoltre di aver ricevuto informazioni relative all'esistenza del diritto di revocare il consenso in qualsiasi momento, senza che ciò pregiudichi la liceità del trattamento basata sul consenso prestato prima della revoca, dandone comunicazione scritta per posta a: 
												<br>Regione Piemonte
												<br>Direzione Agricoltura- Settore Fitosanitario e Servizi tecnico-scientifici
												<br>Via Livorno 60 - 10144 Torino 
												<br>o tramite e-mail (agrochimico@regione.piemonte.it) 
												<br>o posta certificata all'indirizzo di posta del Settore (fitosanitario@cert.regione.piemonte.it).
												<br>Sono informato che con la revoca del consenso non riceverò il servizio di analisi richiesto.
												</label>
											</td>
                                        </tr>
                                      </table>
                                      <table width="490" border="0" align="center" cellpadding="0" cellspacing="5">
                                        <tr>
                                          <td><div align="right"><a href="../view/##pageBack"><img src="../layout/im/b_tornaIndietro.gif" alt="torna indietro" width="150" height="16" border="0"></a></div></td>
                                          <td><a href="javascript:infoPrivacy('../controller/confermaRichiesta.jsp')"><img src="../layout/im/b_invia.gif" alt="invia" width="150" height="16" border="0"></a></td>
                                        </tr>
                                      </table>
                                      <br>
                                    </div></td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="CSI-Piemonte l'amministrazione piemontese alla portata di un clic"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>
