<html>
<head>
<title> Servizio AGRICHIM</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script src="../layout/js/gestione.js"></script>
<script src="../layout/js/verificaData.js"></script>
<script src="../layout/js/isNumber.js"></script>
<script src="../layout/js/fase5erbaceeDati.js"></script>
<script>
  function caricaPagina()
  {
    document.erbaceeDati.action="../view/erbaceeDati.jsp";
    document.erbaceeDati.submit();
  }
</script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup##rupar.gif" width="475" height="40" alt="##nomeRete"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="720">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" bgcolor="#669933">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim.gif" alt="servizio agrichim" width="173" height="14" align="top">
                      </td>
                      <td height="1" bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" bgcolor="#669933">
                                    <div align="center"> <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td><p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente </strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <img src="../layout/im/tit_sx_richiesta_on.gif" alt="nuova richiesta" width="124" height="29">
                                      <br>
                                      <a href="../view/principale.jsp"><br>
                                      <img src="../layout/im/tit_sx_visBozze_off.gif" alt="visualizza bozze" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/elencoCampioni.jsp"><br>
                                      <img src="../layout/im/tit_sx_ricerca_off.gif" alt="ricerca" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/elencoPagamenti.jsp"><br>
                                      <img src="../layout/im/tit_sx_elencoPagamenti_off.gif" width="124" height="29" border="0" alt="pagamenti"></a><br>
                                      <a href="javascript:pop('../view/anagraficaUtentePOP.jsp',700,500);"><br>
                                      <img src="../layout/im/tit_sx_anagraficaUtente_off.gif" alt="anagrafica utente" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/logout.jsp"><br>
                                      <img src="../layout/im/tit_sx_logout_off.gif" alt="logout" width="124" height="29" border="0"></a>
                                      <br>
                                    </div>



                                  </td>
                                  <td width="577" height="450" valign="baseline" bgcolor="#F2F1EA"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td><h1><strong>Inserimento anagrafica
                                            campione </strong></h1></td>
                                      </tr>
                                      <tr>
                                        <td><h2>Dati del campione - Fase 5 </h2></td>
                                      </tr>
                                    </table>
                                    <br>
									<table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr valign="top">
                                        <td width="70" class="pul">Fase 1 <br>
                                          identificazione campione</td>
                                        <td width="70" class="pul">Fase 2<br>
                                          coordinate geografiche</td>
                                        <td width="70" class="pul">Fase 3 <br>
                                          anagrafica richiedente</td>
                                        <td width="70" class="pul">Fase 4 <br>
                                          fattura commerciale</td>
                                        <td width="70" class="pulselect"><span class="faseselect">Fase
                                          5 </span><br>
                                          dati del<br>
                                          campione</td>
                                        <td width="70" class="pul">Fase 6 <br>
                                          analisi richiesta</td>
                                        <td width="70" class="pul">Fase 7 <br>
                                          conferma<br>
                                          dati</td>
                                      </tr>
                                    </table>
                                    <br>
                                    <form name="erbaceeDati" method="post" action="../controller/erbaceeDati.jsp">
                                    <table width="98%" border="0" align="center" cellpadding="2" cellspacing="2">
                                      @@errore
                                      <tr>
                                        <td class="testoERRORE" colspan="2">I dati contrassegnati da &nbsp;<img src="../layout/im/ko.gif">&nbsp;
                                        non sono stati inseriti correttamente
                                          <br>
                                        </td>
                                      </tr>
                                      <tr><td>&nbsp;</td></tr>
                                      @@errore
                                      <tr>
                                        <td colspan="2">Macinati (*)
                                          &nbsp;&nbsp;&nbsp;
                                          <input type="radio" name="macinato" value='S' ##checkedSi>
                                          Si
                                          <input type="radio" name="macinato" value='N' ##checkedNo>
                                          No </td>
                                      </tr>
                                      <tr>
                                       <td colspan="2">
                                         &nbsp;
                                       </td>
                                      </tr>
                                      <tr>
                                        <td colspan="2"> <strong>Informazioni
                                          sulla zona del prelievo e caratteristiche
                                          del campione.</strong> </td>
                                      </tr>
                                      <tr>
                                        <td colspan="2" >Data campionamento (*)
                                          (data del prelievo in formato gg/mm/aaaa)
                                        <input name="giornoCampionamento" type="text" class="testoCampi" size="1" maxlength="2" value="##giornoCampionamento">
                                        /
                                        <input name="meseCampionamento" type="text" class="testoCampi" size="1" maxlength="2" value="##meseCampionamento">
                                        /
                                        <input name="annoCampionamento" type="text" class="testoCampi" size="2" maxlength="4" value="##annoCampionamento">
                                          ##errore1
                                        </td>
                                      </tr>
                                      <tr>
                                        <td colspan="2"> <div align="center"><br>
                                            <br>
                                            <strong>Indicare la classe coltura
                                            e la specie </strong> </div></td>
                                      </tr>
                                      <tr>
                                        <td>Classe coltura (*)
                                         <select name="idColtura" class="testoCampi" onChange="caricaPagina();">
                                            <option value="-1">--------</option>
                                                @@classe
                                                  <option value="$$codice" $$selected>$$descrizione</option>
                                                @@classe
                                          </select> ##errore2</td>
                                        <td>Specie coltura (*)
                                          <select name="idSpecie" class="testoCampi">
                                            <option value="-1">--------</option>
                                                @@specie
                                                  <option value="$$codice" $$selected>$$descrizione</option>
                                                @@specie
                                          </select> ##errore3</td>
                                      </tr>
                                    </table>
                                    <table width="98%" border="0" align="center" cellpadding="2" cellspacing="2">
                                      <tr>
                                        <td width="70%">
                                          <div align="left"><br>
                                            <br>
                                            Nel caso in cui, negli ultimi 4 anni
                                            sia stata effettuata un'analisi sul
                                            terreno da cui è stato prelevato il
                                            campione di vegetale, indicare il
                                            numero identificativo del campione
                                            di terreno </div></td>
                                        <td><input name="campioneTerreno" type="text" class="testoCampi" size="20" maxlength="20" value="##campioneTerreno">
                                        ##errore4
                                        </td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">I dati contrassegnati con (*) sono
                                          obbligatori</td>
                                      </tr>
                                    </table> <br>
                                    </form>
                                    <br>
                                    <br>
                                    <table width="490" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td><div align="right"><a href="../view/fattura.jsp"><img src="../layout/im/b_tornaIndietro.gif" alt="torna indietro" width="150" height="16" border="0"></a></div></td>
                                        <td><a href="javascript:if (salva(document.erbaceeDati)) document.erbaceeDati.submit();"><img src="../layout/im/b_confermaProsegui.gif" alt="conferma e prosegui" width="150" height="16" border="0"></a></td>
                                      </tr>
                                    </table>
                                    <br>
                                  </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="CSI-Piemonte l'amministrazione piemontese alla portata di un clic"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>
