<html>
<head>
<title>Servizio AGRICHIM</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script language="JavaScript">
<!--
function pop(str) {
        searchWin = window.open(str,'comune','scrollbars=yes,resizable=yes,width=350,height=200,status=no,location=no,toolbar=no');
}
function pop1(str) {
        searchWin = window.open(str,'anagrafica','scrollbars=yes,resizable=yes,width=450,height=480,status=no,location=no,toolbar=no');
}
function pop2(str) {
        searchWin = window.open(str,'anagrafica','scrollbars=yes,resizable=yes,width=450,height=280,status=no,location=no,toolbar=no');
}
//-->
</script>
<link href="css/format.css" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="im/ban_sup.gif" width="475" height="40" alt="SistemaPiemonte"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="720">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="im/pix-gri-ban.gif" width="1" height="2"><img src="im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" bgcolor="#669933">&nbsp;&nbsp;
                        <img src="im/agrichim.gif" alt="servizio agrichim" width="173" height="14" align="top">
                      </td>
                      <td height="1" bgcolor="#669933"><img src="im/tra_pix.gif" width="2" height="1"></td>
                      <td background="im/pix-gri-ban.gif" height="1"><img src="im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="im/pix-gri-ban.gif" width="1"><img src="im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="im/pix-gri-ban.gif">
                            <td background="im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" bgcolor="#669933">
                                    <div align="center"> <br>
                                      <br>
                                      <img src="im/tit_sx_home_on.gif" alt="home" width="124" height="29">
                                      <br>
                                      <br>
                                      <a href="../view/login.jsp"><img src="im/tit_sx_analisi.gif" alt="prenotazione analisi" width="124" height="29" border="0"></a><br>
                                    </div>



                                  </td>
                                  <td width="577" height="1536" valign="baseline" bgcolor="#F2F1EA"><br>
                                    <table width="90%" border="0" align="center">
                                      <tr> 
                                        <td width="80%"> <h1>AGRICHIM </h1>
                                          <table width="100%" border="0">
                                            <tr> 
                                              <td width="100%" valign="top"> E’ disponibile
                                                il nuovo applicativo internet
                                                per la gestione delle analisi
                                                disponibili presso il Laboratorio
                                                Agrochimico Regionale. Con Agrichim è oggi
                                                possibile accedere alla procedura
                                                ondine per la prenotazione delle
                                              analisi.</td>
                                            </tr>
                                            <tr>
                                              <td valign="top"> <h2>Procedura on-line </h2></td>
                                            </tr>
                                            <tr> 
                                              <td valign="top">
                                                <p>Il Laboratorio Agrochimico
                                                  del Settore Fitosanitario Regionale
                                                  (LAR), ha reso operativo in
                                                  collaborazione con il CSI-Piemonte
                                                  il nuovo servizio di prenotazione
                                                  delle analisi di terreno e
                                                  vegetali. </p>
                                                Questa procedura permette di
                                                prenotare le analisi comodamente
                                                dal computer di casa vostra. <br>
                                                <br>
                                                <p>Per accedere al servizio &egrave; necessario
                                                  registrarsi con una delle seguenti
                                                  modalit&agrave;: </p>                                        
<table width="80%" border="0" align="center" cellpadding="2" cellspacing="2">
                                                  <tr> 
                                                    <td valign="top"><img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle"> 
 I privati potranno registrarsi in maniera semplificata attraverso Internet. &nbsp;&nbsp;&nbsp;Dichiarando i propri dati anagrafici, si riceverà via posta elettronica  &nbsp;&nbsp;&nbsp;username e password per utilizzare il servizio;<p align="center"><strong><a href="https://<WEB_SERVER_HOST:PORT>/cgi-bin/regsp/reg_sp.cgi" class="testoLink">REGISTRAZIONE PRIVATI</a></strong><br>
   <br>
 </p></td>
                                                  </tr>
                                                  <tr> 
                                                    <td valign="top"><img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle"> 
	I tecnici (chiunque nella sua attività di assistenza tecnica porta un: &nbsp;&nbsp;&nbsp;terreno
come intermediario) potranno registrarsi compilando il modulo;<p align="center"><strong>
<a href="Modulo%20richiesta%20User-pwd.doc" class="testoLink">MODULO REGISTRAZIONE ENTI e TECNICI</a></strong></p> </td>
                                                  </tr>
                                              </table>
<br>
<p><strong><em>Il “modulo registrazione Enti e Tecnici” va firmato e consegnato
      in originale e spedito via e-mail all'indirizzo <a href="mailto:agrochimico@regione.piemonte.it" class="testoLink">agrochimico@regione.piemonte.it </a>. </em></strong></p>
<p>I vostri dati verranno caricati sul sistema e <strong>a mezzo raccomandata </strong> vi
  verranno inviate login e password personali. </p>
<h2>Quali sono i vantaggi che otterrete utilizzando Agrichim? <br>
</h2>
<table width="80%" border="0" align="center" cellpadding="2" cellspacing="2">
  <tr>
    <td valign="top"><img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle"> Ogni
      volta che entrerete nel sistema con le vostre login e password non  &nbsp;&nbsp;&nbsp;dovrete
      più immettere i dati anagrafici (velocizzazione della compilazione  &nbsp;&nbsp;&nbsp;schede);</td>
  </tr>
  <tr>
    <td valign="top"><img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle"> Collegandovi
      a Internet potrete in ogni momento vedere lo stato &nbsp;&nbsp;&nbsp;dell'analisi per
      ogni vostro campione inviato al laboratorio con procedura &nbsp;&nbsp;&nbsp;Agrichim;.</td>
  </tr>
  <tr>
    <td valign="top"> <img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle"> 	Potrete
      inoltre <strong>vedere e stampare i referti analitici</strong> di ogni vostro  &nbsp;&nbsp;&nbsp;campione
      collegandovi ad Agrichim; in questo modo potrete creare un  &nbsp;&nbsp;&nbsp;archivio
      personalizzato contenente tutte le analisi commissionateci,   &nbsp;&nbsp;&nbsp;aggiornato
      in tempo reale dal LAR;</td>
  </tr>
  <tr>
    <td valign="top"><img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle"> 	Se
      registrate più campioni con molti dati comuni potrete duplicare le &nbsp;&nbsp;&nbsp;schede
      andando a cambiare solo i dati specifici del singolo campione &nbsp;&nbsp;&nbsp;(es. proprietario,
      coordinate geografiche di prelievo, tipo di coltura,…); </td>
  </tr>
  <tr>
    <td valign="top"><img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle">&nbsp; Se
      inserite nel campo <strong>“proprietario campione” </strong> i dati completi
      del &nbsp;&nbsp;&nbsp;proprietario con codice fiscale, nome, cognome e
      comune di residenza, i &nbsp;&nbsp;&nbsp;vostri assistiti potranno registrarsi
      in maniera semplificata al servizio via &nbsp;&nbsp;&nbsp;Internet, potendo
      essi stessi visionare tutte le analisi da loro &nbsp;&nbsp;&nbsp;commissionatevi;</td>
  </tr>
  <tr>
    <td valign="top"><img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle">&nbsp; Se
      nella compilazione della scheda di prenotazione indicare il punto di &nbsp;&nbsp;&nbsp;prelievo
      dei campioni su una carta del Piemonte <em>interattiva </em> e di semplice
      &nbsp;&nbsp;&nbsp;utilizzo: verranno automaticamente rilevate le <em>coordinate
      del punto </em>.
      Il &nbsp;&nbsp;&nbsp;LAR potr&agrave; cos&igrave; incrementare nel tempo
      i dati analitici disponibili sui suoli &nbsp;&nbsp;&nbsp;piemontesi e metterli
      a disposizione di tutti gli operatori del settore;</td>
  </tr>
  <tr>
    <td valign="top"><img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle">&nbsp; Registrando
      i campioni con questo sistema <strong><em>potrete accedere alle &nbsp;&nbsp;&nbsp;massime
      fasce di sconto del prezzario</em></strong>;  </td>
  </tr>
  <tr>
    <td valign="top"><img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle">&nbsp; I
      dati da voi inseriti sul programma saranno immediatamente acquisiti dal
      &nbsp;&nbsp;&nbsp;laboratorio e non dovranno pi&ugrave; essere caricati,
      velocizzando in questo &nbsp;&nbsp;&nbsp;modo i tempi di consegna del referto
      analitico;</td>
  </tr>
  <tr>
    <td valign="top"><img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle">&nbsp; Il
      campione va consegnato direttamente o spedito al LAR unitamente<br>      
      &nbsp;&nbsp;&nbsp; alla
      ricevuta del versamento e al tagliando ritagliato dalla stampa della<br>      &nbsp;&nbsp;&nbsp; prima
      pagina della scheda di accompagnamento. </td>
  </tr>
  <table width="80%" border="0" align="center" cellpadding="2" cellspacing="2">
  <tr>
    <td valign="top"><img src="im/trattino_elenco.gif" width="7" height="3" align="absmiddle"> Consultare, stampare e scaricare su file gli esiti delle analisi nonch&egrave; &nbsp;&nbsp;&nbsp;verificare lo stato di avanzamento delle proprie richieste. </td>
  </tr>
</table>
</table>
<p> <strong>Assistenza tecnica</strong>:<br />
    dalle <strong>8:00</strong> alle <strong>12:30</strong> - dalle <strong>13:30</strong> alle <strong>17:00</strong> <br>
    <br>
Telefono: <strong>011- 227996 </strong></p>
<p><strong>Ricorda Password: </strong><a href="https://webgate.sistemapiemonte.it/AtoB/" target="_blank" class="testoLink">se avete dimenticato la Password potete
  recuperarla.</a></p>
<p><strong> Cambio Password: </strong>  <a href="https://webgate.sistemapiemonte.it/AtoB/" target="_blank" class="testoLink">&egrave; possibile
    cambiare la password di accesso al servizio.</a><br>
  <br>
  Per una navigazione pi&ugrave; sicura si &egrave; scelto di utilizzare https
  e pertanto &egrave; necessario installare il certificato come descritto nel
  documento: <a href="http://www.sistemapiemonte.it/agricoltura/pua/dwd/Procedura_installazione_certificato.pdf" class="testoLink">installazione
  certificato di protezione</a>.</p>
<p><strong>Per informazioni riguardanti le analisi di laboratorio:</strong> <br>
Regione Piemonte – Direzione Sviluppo dell'Agricoltura - Settore Fitosanitario <br>
Laboratorio Agrochimico <br>
Environment Park - Palazzina A2 <br>
Via Livorno, 60 - 10144 Torino <br>
tel. 011 - 432. 3735/ 3062/ 3738/ 3737 - fax: 011 - 432.3710 <br>
e-mail: <a href="mailto:agrochimico@regione.piemonte.it" class="testoLink">agrochimico@regione.piemonte.it </a></p></td>
                                            </tr>
                                            <tr> 
                                              <td valign="top"><h2>&nbsp;</h2>
                                                <h2>Procedure per commissionare 
                                                  un'analisi <br>
                                                  <br>
                                                </h2></td>
                                            </tr>
                                            <tr> 
                                              <td valign="top"><table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                                                  <tr align="center" valign="top"> 
                                                    <td width="21%" class="pul"><a href="javascript:pop2('prelievoPOP.htm')" class="pul">Prelievo 
                                                      del terreno</a></td>
                                                    <td width="29%" class="pul"> 
                                                      <a href="javascript:pop2('pagamentoPOP.htm')" class="pul">Modalit&agrave; 
                                                      di pagamento e prezzario</a></td>
                                                    <td width="25%" class="pul"><a href="campioniLaboratorio.htm" class="pul"> 
                                                      </a><a href="javascript:pop2('schedaPOP.htm')" class="pul">Compilazione 
                                                      scheda di accompagnamento</a></td>
                                                    <td width="25%" class="pul"><a href="javascript:pop2('consegnaPOP.htm')" class="pul">Consegna 
                                                      del campione al LAR</a></td>
                                                  </tr>
                                                </table></td>
                                            </tr>
                                            <tr> 
                                              <td valign="top"><p>&nbsp; </p>                                              </td>
                                            </tr>
                                        </table></td>
                                      </tr>
                                    </table>                                  </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td bgcolor="#669933"><img src="im/tra_pix.gif" width="2" height="1"></td>
                      <td background="im/pix-gri-ban.gif"><img src="im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="im/banner_inf.jpg" width="618" height="14" border="0" alt="CSI-Piemonte l'amministrazione piemontese alla portata di un clic"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>
