<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script src="../layout/js/gestione.js"></script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle"> 
    <td> 
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr> 
          <td> 
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="../layout/im/ban_sup##rupar.gif" width="475" height="40" alt="##nomeRete"></td>
              </tr>
              
              <tr valign="top" align="right"> 
                <td width="640"> 
                  <table width="720" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84"> 
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14"> 
                        </div>
                      </td>
                      <td width="585" height="2" bgcolor="#669933">&nbsp;&nbsp; 
                        <img src="../layout/im/agrichim.gif" alt="servizio agrichim" width="173" height="14" align="top"> 
                      </td>
                      <td height="1" bgcolor="#336600"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr> 
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2"> 
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif"> 
                            <td background="../layout/im/pix-gri-ban.gif"> 
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr> 
                                  <td width="134" valign="top" bgcolor="#669933"> 
                                    <div align="center">
                                      <br>
                                      <a href="##urlHomePageApplication"><br>
                                      <img src="../layout/im/tit_sx_home_off.gif" alt="home" width="124" height="29" border="0"></a> 
                                      <br>
                                    </div>
                                        
                                      
                                    
                                  </td>
                                  <td width="578" height="450" valign="baseline" bgcolor="#F2F1EA"><br>
                                    <br>
                                    <table width="98%" border="0" align="center">
                                      <tr> 
                                        <td width="80%"> <h1>Procedura di registrazione 
                                            nuovo utente </h1>
                                          <p>Inserimento dei dati identificativi 
                                            della persona.</p>
                                          <table width="100%" border="0" cellpadding="2" cellspacing="2">
                                            <tr> 
                                              <td width="30%">Cognome (*)</td>
                                              <td width="70%" colspan="2"> <input name="textfield82" type="text" class="testoCampi" size="30" maxlength="30"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td>Nome (*)</td>
                                              <td colspan="2"> <input name="textfield2" type="text" class="testoCampi" size="30" maxlength="30"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td>Codice Fiscale (*)</td>
                                              <td colspan="2"> <input name="textfield10" type="text" class="testoCampi" size="25" maxlength="16"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td>Indirizzo (*)</td>
                                              <td colspan="2"> <input name="textfield62" type="text" class="testoCampi" size="50" maxlength="40"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td>CAP (*)</td>
                                              <td colspan="2"> <input name="textfield8" type="text" class="testoCampi" size="5" maxlength="5"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td>Comune (*)</td>
                                              <td colspan="2"> <input name="textfield9" type="text" class="testoCampi" size="50" maxlength="40"> 
                                                <a href="javascript:pop('comunePOP.htm');" class="pulsante">Seleziona</a> </td>
                                            </tr>
                                            <tr> 
                                              <td>e.mail</td>
                                              <td colspan="2"> <input name="textfield102" type="text" class="testoCampi" size="50" maxlength="50"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td> Codice utente (*)<br> <span class="testoCampi">(minimo 
                                                8 caratteri max 20)</span></td>
                                              <td colspan="2"> <input name="textfield" type="text" class="testoCampi" size="20" maxlength="20"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td height="29">Password (*)<br> 
                                                <span class="testoCampi">(minimo 
                                                8 caratteri max 20) </span></td>
                                              <td height="29" colspan="2"> <input name="textfield22" type="password" class="testoCampi" size="20" maxlength="20"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td>Conferma Password (*)</td>
                                              <td colspan="2"> <input name="textfield23" type="password" class="testoCampi" size="20" maxlength="20"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td>Domanda ricorda password</td>
                                              <td colspan="2"> <input name="textfield3" type="text" class="testoCampi" size="50" maxlength="40"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td>Risposta ricorda Password</td>
                                              <td colspan="2"> <input name="textfield4" type="text" class="testoCampi" size="30" maxlength="30"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td colspan="3"> I dati contrassegnati 
                                                con (*) sono obbligatori.</td>
                                            </tr>
                                          </table>
                                          <p>Se campioni di materiale di cui verr&agrave; 
                                            richiesta l'analisi appartengono ad 
                                            un'impresa o una azienda agricola, 
                                            inserire qui di seguito gli estremi 
                                            anagrafici dell'azienda.</p>
                                          <table width="100%" border="0" align="center" cellpadding="2" cellspacing="2">
                                            <tr> 
                                              <td colspan="7"> <div align="center"> 
                                                  <b>Dati anagrafici dell'impresa 
                                                  o azienda </b> </div></td>
                                            </tr>
                                            <tr> 
                                              <td colspan="2">Partita IVA o Codice 
                                                fiscale azienda</td>
                                              <td colspan="5" width="67%"> <input name="textfield42" type="text" class="testoCampi" size="25" maxlength="16"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td colspan="2">Ragione Sociale 
                                                (*)</td>
                                              <td colspan="5" width="67%"> <input name="textfield52" type="text" class="testoCampi" size="60" maxlength="60"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td width="16%">Indirizzo</td>
                                              <td colspan="6"> <input name="textfield622" type="text" class="testoCampi" size="50" maxlength="40"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td width="16%">CAP</td>
                                              <td colspan="6"> <input name="textfield222" type="text" class="testoCampi" size="5" maxlength="5"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td width="16%">Comune (*) </td>
                                              <td colspan="6"> <input name="textfield822" type="text" class="testoCampi" size="50" maxlength="40"> 
                                                <a href="javascript:pop('comunePOP.htm');" class="pulsante">Seleziona</a> </td>
                                            </tr>
                                            <tr> 
                                              <td width="16%">e.mail</td>
                                              <td colspan="6"> <input name="textfield103" type="text" class="testoCampi" size="50" maxlength="50"> 
                                              </td>
                                            </tr>
                                            <tr> 
                                              <td colspan="7">I dati contrassegnati 
                                                con (*) sono obbligatori.</td>
                                            </tr>
                                          </table>
                                          <p>&nbsp;</p>
                                          <table width="100%" cellpadding="2">
                                            <tr> 
                                              <td colspan="3"> <b>L. 31 Dicembre 
                                                1996, n°675</b><b><br>
                                                (Tutela delle persone e di altri 
                                                soggetti rispetto al trattamento 
                                                dei dati personali)</b> </td>
                                            </tr>
                                            <tr> 
                                              <td colspan="3"> <ol type=I>
                                                  <li>Le analisi vengono effettuate 
                                                    dal Settore Fitosanitario 
                                                    secondo quanto stabilito con 
                                                    D.G.R. 442 - 14210 del 30.09.1997 
                                                    in base alla L.R. 51/97. 
                                                  <li>La raccolta e/o il trattamento 
                                                    dei dati personali ha l'esclusiva 
                                                    finalità di poter svolgere 
                                                    in modo adeguato la propria 
                                                    attività; i dati personali 
                                                    saranno trattati in totale 
                                                    conformità a quanto disposto 
                                                    dalla L. 675/1996. 
                                                  <li>I dati personali ed il relativo 
                                                    trattamento saranno oggetto 
                                                    di comunicazione e diffusione 
                                                    ad altri Soggetti pubblici 
                                                    solo nei casi in cui ciò sia 
                                                    specificatamente previsto 
                                                    da leggi, decreti, regolamenti 
                                                    o risulti necessario per lo 
                                                    svolgimento di funzioni istituzionali. 
                                                  <li>I dati personali non vengono 
                                                    in alcun modo diffusi a Soggetti 
                                                    privati per scopi economici 
                                                    (commerciali, marketing, intermediazione 
                                                    a qualunque titolo, ecc...). 
                                                  <li>I risultati analitici, gestiti 
                                                    in forma anonima, potranno 
                                                    essere utilizzati per elaborazioni, 
                                                    studi e statistiche ed i risultati 
                                                    di tali trattamenti potranno 
                                                    essere anche comunicati all’esterno 
                                                    dell’Ente Regione. 
                                                  <li>Gli utenti sono titolari 
                                                    di tutti i diritti previsti 
                                                    dall’art.13 della L. 675/1996. 
                                                  <li>Titolare del trattamento 
                                                    dei dati è l’Ente Regione 
                                                    Piemonte (Giunta Regionale 
                                                    e Consiglio Regionale) in 
                                                    base alla D.G.R. n° 16-24093 
                                                    del 10/3/199 <i><b>&gt;&gt;&gt; 
                                                    manca l'anno</b></i></li>
                                                </ol>
                                                <div align="left">
                                                  <input type="checkbox" name="checkbox" value="checkbox">
                                                  Acconsento al trattamento dei 
                                                  miei dati personali e alla comunicazione 
                                                  ai sensi dei punti II &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e 
                                                  III</div></td>
                                            </tr>
                                          </table>
                                          <br>
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                              <td><div align="center"><a href="registraNewUser.htm"><img src="../layout/im/b_prosegui.gif" alt="prosegui" width="150" height="16" border="0"></a></div></td>
                                            </tr>
                                          </table>
                                          <br>
                                          </td>
                                      </tr>
                                    </table> </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333"> 
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="CSI-Piemonte l'amministrazione piemontese alla portata di un clic"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span> 
</body>
</html>
