<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<link href="css/format.css" rel="stylesheet" type="text/css">
<script src="js/gestione.js"></script>
</head>

<body onload="window.focus();" onunload="window.opener.focus()">
<table width="70%" border="0" class="boxborder">
  <tr>
    <td width="80%"> <div align="center">
        <h2>Modalit&agrave; di pagamento e prezzario<strong><br>
          </strong> </h2>
      </div>
      <table width="100%" border="0">
        <tr>
          <td>
            <p>versamento tramite bollettino di <b>conto corrente postale sul n. 10364107</b>, intestato alla <b>"Tesoreria della Regione Piemonte - piazza Castello 165 - 10122 Torino"</b>, indicando come causale: <b>"contributo per analisi chimiche"</b></p>
            <p align="center">oppure</p>
            <p>bonifico bancario con riferimento alle coordinate: <b>c/c 10/00395258 presso SanPaolo IMI - CAB 01118   ABI 1025   CIN D </b>, indicando come causale: <b>"contributo per analisi chimiche"</b></p>
            <p>Se si vogliono conoscere le tariffe applicate dal Laboratorio Agrochimico
              Regionale <a href="#" onClick="popPdf('/assets/application/agrichimfo/dwd/prezzario.pdf',647,480,'pdf');" class="testoLink">consultare
              il prezzario</a> (<img height=18 alt="Scarica il documento"
              hspace=2 src="im/pdf.gif" width=18
              align=absMiddle>17 Kb).</p>
            <table width="100%" border="0" cellspacing="2" cellpadding="2">
              <tr>
                <td><div align="center"><a href="javascript:window.close();"><br>
                    <br>
                    <img src="im/b_chiudi.gif" alt="chiudi" width="150" height="16" border="0"></a></div></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
