<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<link href="css/format.css" rel="stylesheet" type="text/css">
<script src="js/gestione.js"></script>
</head>

<body onload="window.focus();" onunload="window.opener.focus()">
<table width="70%" border="0" class="boxborder">
  <tr>
    <td width="80%"> <div align="center"> 
        <h2>Prelievo del terreno<strong><br>
          </strong> </h2>
      </div>
      <table width="100%" border="0">
        <tr>
          <td> <b>Solo per i terreni</b>: prelevare un campione da analizzare 
            seguendo le <a href="#" onClick="popPdf('/assets/application/agrichimfo/dwd/mod_camp.pdf',647,480,'pdf');" class="testoLink">modalità 
            di campionamento</a> (<img height=18 alt="Scarica il documento" 
              hspace=2 src="im/pdf.gif" width=18 
              align=absMiddle>86 Kb) previste dal LAR. 
            <table width="100%" border="0" cellspacing="2" cellpadding="2">
              <tr>
                <td><div align="center"><a href="javascript:window.close();"><br>
                    <br>
                    <img src="im/b_chiudi.gif" alt="chiudi" width="150" height="16" border="0"></a></div></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
