<html>
<head>
<title>Servizio AGRICHIM</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script src="../layout/js/gestione.js"></script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup##rupar.gif" width="475" height="40" alt="##nomeRete"></td>
              </tr>

              <tr valign="top" align="right">
                <td>
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" bgcolor="#669933">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim.gif" alt="servizio agrichim" width="173" height="14" align="top">
                      </td>
                      <td height="1" bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="135" valign="top" bgcolor="#669933">
                                    <div align="center"> <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td><p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente </strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../controller/nuovaRichiesta.jsp"><img src="../layout/im/tit_sx_richiesta_off.gif" alt="nuova richiesta" width="124" height="29" border="0"></a>
                                      <br>
                                      <a href="../view/principale.jsp"><br>
                                      <img src="../layout/im/tit_sx_visBozze_off.gif" alt="visualizza bozze" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/elencoCampioni.jsp"><br>
                                      <img src="../layout/im/tit_sx_ricerca_off.gif" alt="ricerca" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/elencoPagamenti.jsp"><br>
                                      <img src="../layout/im/tit_sx_elencoPagamenti_off.gif" width="124" height="29" border="0" alt="pagamenti"></a><br>
                                      <a href="javascript:pop('../view/anagraficaUtentePOP.jsp',700,500);"><br>
                                      <img src="../layout/im/tit_sx_anagraficaUtente_off.gif" alt="anagrafica utente" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/logout.jsp"><br>
                                      <img src="../layout/im/tit_sx_logout_off.gif" alt="logout" width="124" height="29" border="0"></a>
                                      <br>
                                    </div>



                                  </td>
                                  <td width="585" height="450" valign="baseline" bgcolor="#F2F1EA"><br>
                                    <table width="98%" border="0" align="center" cellpadding="2" cellspacing="2">
                                      <tr>
                                        <td colspan="2">
                                        <div align="center">
                                            @@RitornoOKM3
	                                        <p><strong>Il modello di pagamento e la relativa richiesta di pagamento telematica<br>
	                                        verso la Pubblica Amministrazione sono stati creati</strong></p>
	                                        <p style="color:red;"><strong>L'identificativo del pagamento &egrave;:</strong></p>
	                                        <p style="color:green;"><strong>##line_iuv</strong></p>
	                                        <p>L'importo da pagare &egrave; pari a <b>&euro; ##line_imp</b> (IVA inclusa)</p>
	                                        <p>&Egrave; ora possibile pagare utilizzando i canali di pagamento di </p>
	                                        <a href="https://www.pagopa.gov.it/it/pagopa/" target="_blank" rel="noopener noreferrer"><img src="../layout/im/pagoPA.jpg" alt="Pagamento con PagoPA" width="100" height="66" border="0"></a>
	                                        <div align="left">
	                                            <br>
	                                            <p>Se intendi ristampare il modello di pagamento, annullare il pagamento se non ancora pagato o scaricare la ricevuta di avvenuto pagamento <a href="../controller/elencoPagamenti.jsp" class="testoLink">clicca qui</a>  e vai alla funzione dei pagamenti</p>
	                                            <p>Nella funzione dei pagamenti ricorda di selezionare la richiesta e cliccare su "Verifica il pagamento" per avviare un controllo sui sistemi centrali. Lo stato del pagamento verrà automaticamente aggiornato con il nuovo stato</p>
	                                            <p>Una volta effettuato il pagamento, il campione, accompagnato dall'analisi dalla sua etichetta, pu&ograve; quindi essere consegnato o spedito al laboratorio per l'analisi.</p>
	                                        </div>
	                                        @@RitornoOKM3
	                                        @@RitornoOKM1
	                                        <p><strong>Il pagamento &egrave; stato avviato<br>
                                            verso la Pubblica Amministrazione utilizzando</strong></p>
                                            <a href="https://www.pagopa.gov.it/it/pagopa/" target="_blank" rel="noopener noreferrer"><img src="../layout/im/pagoPA.jpg" alt="Pagamento con PagoPA" width="100" height="66" border="0"></a>
                                            <p style="color:red;"><strong>L'identificativo del pagamento &egrave;:</strong></p>
                                            <p style="color:green;"><strong>##line_iuv</strong></p>
                                            <p>L'importo in pagamento &egrave; di <b>&euro; ##line_imp</b> (IVA inclusa)</p>
	                                        <div align="left">
	                                            <br>
	                                            <p>Se intendi ristampare il modello di pagamento, annullare il pagamento se non ancora pagato o scaricare la ricevuta di avvenuto pagamento <a href="../controller/elencoPagamenti.jsp" class="testoLink">clicca qui</a>  e vai alla funzione dei pagamenti</p>
	                                            <p>Nella funzione dei pagamenti ricorda di selezionare la richiesta e cliccare su "Verifica il pagamento" per avviare un controllo sui sistemi centrali. Lo stato del pagamento verrà automaticamente aggiornato con il nuovo stato</p>
                                                <p>Una volta effettuato il pagamento, il campione, accompagnato dall'analisi dalla sua etichetta, pu&ograve; quindi essere consegnato o spedito al laboratorio per l'analisi.</p>
	                                        </div>
	                                        @@RitornoOKM1
	                                        @@RitornoKO
	                                        <p><strong>La generazione del pagamento non &egrave; andata a buon fine</strong></p>
                                            <div align="left">
	                                            <p>Per riprendere la richiesta inviata, verificare lo stato del pagamento e procedere nuovamente al pagamento <a href="../controller/elencoPagamenti.jsp" class="testoLink">clicca qui</a> e vai alla funzione dei pagamenti</p>
	                                            <p>Dallo stesso elenco potrai ache annullare il pagamento se non ancora pagato o scaricare la ricevuta di avvenuto pagamento</p>
	                                            <p>Una volta effettuato il pagamento, il campione, accompagnato dall'analisi dalla sua etichetta, pu&ograve; quindi essere consegnato o spedito al laboratorio per l'analisi.</p>
	                                        </div>
	                                        @@RitornoKO
                                        </div>
                                        </td>
                                      </tr>
                                    </table>
                                    <br>
                                  </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="CSI-Piemonte l'amministrazione piemontese alla portata di un clic"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>
