<html>
<head>
<title>Servizio AGRICHIM</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script src="../layout/js/gestione.js"></script>
<script src="../layout/js/testLength.js"></script>
<script src="../layout/js/printf.js"></script>
<script src="../layout/js/codiceFiscale.js"></script>
<script src="../layout/js/altreMatrici.js"></script>
<script src="../layout/js/isNumber.js"></script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup##rupar.gif" width="475" height="40" alt="##nomeRete"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="640">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" bgcolor="#669933">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim.gif" alt="servizio agrichim" width="173" height="14" align="top">
                      </td>
                      <td height="1" bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" bgcolor="#669933">
                                    <div align="center"> <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td><p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente </strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <img src="../layout/im/tit_sx_richiesta_on.gif" alt="nuova richiesta" width="124" height="29"><br>
                                      <a href="../view/principale.jsp"><br>
                                      <img src="../layout/im/tit_sx_visBozze_off.gif" width="124" height="29" border="0" alt="visualizza bozze"></a><br>
                                      <a href="../controller/elencoCampioni.jsp"><br>
                                      <img src="../layout/im/tit_sx_ricerca_off.gif" alt="ricerca" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/elencoPagamenti.jsp"><br>
                                      <img src="../layout/im/tit_sx_elencoPagamenti_off.gif" width="124" height="29" border="0" alt="pagamenti"></a><br>
                                      <a href="javascript:pop('../view/anagraficaUtentePOP.jsp',700,500);"><br>
                                      <img src="../layout/im/tit_sx_anagraficaUtente_off.gif" alt="anagrafica utente" width="124" height="29" border="0"></a><br>
                                      <a href="../controller/logout.jsp"><br>
                                      <img src="../layout/im/tit_sx_logout_off.gif" alt="logout" width="124" height="29" border="0"></a>
                                      <br>
                                    </div>
                                  </td>
                                  <td width="577" height="450" valign="baseline" bgcolor="#F2F1EA">
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td><h1><strong>Inserimento anagrafica
                                            campione </strong></h1></td>
                                      </tr>
                                      <tr>
                                        <td><h2>Analisi richiesta - Fase 6 </h2></td>
                                      </tr>
                                    </table>
                                    <br>
									<table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr valign="top">
                                        <td width="70" class="pul">Fase 1 <br>
                                          identificazione campione</td>
                                        <td width="70" class="pul">Fase 2<br>
                                          coordinate geografiche</td>
                                        <td width="70" class="pul">Fase 3 <br>
                                          anagrafica richiedente</td>
                                        <td width="70" class="pul">Fase 4<br>
                                          fattura commerciale</td>
                                        <td width="70" class="pul">Fase 5<br>
                                          dati del campione</td>
                                        <td width="70" class="pulselect"><span class="faseselect">Fase 6 </span><br>
                                          analisi<br>
                                          richiesta</td>
                                        <td width="70" class="pul">Fase 7 <br>
                                          conferma<br>
                                          dati</td>
                                      </tr>
                                    </table>
                                    <br>
                                    <form name="terrenoAltreMatrici" method="post" action="../controller/altreMatrici.jsp">
                                    <table width="98%" border="0" align="center" cellpadding="2" cellspacing="2">
	                                    <tr>
	                                       <td colspan="2">
		                                       <div>
		                                        Inserire il numero del preventivo il Codice Fiscale per determinare il costo complessivo da pagare
		                                       </div>
	                                       </td>
	                                    </tr>
	                                    <tr>
	                                       <td>&nbsp;</td><td>&nbsp;</td>
	                                    </tr>
	                                    <tr>
	                                       <td>
	                                           Numero preventivo 
	                                       </td>
	                                       <td>
                                               <input type="text" name="nPreventivo" id="nPreventivo" class="testoCampi" size="40" maxlength="16" value="##nPreventivo">
                                           </td>
	                                    </tr>
	                                    <tr>
	                                       <td>
	                                           Codice Fiscale
	                                       </td>
	                                       <td>
	                                           <input type="text" name="codFisc" id="codFisc" class="testoCampi" size="40" maxlength="16" value="##cf">
	                                       </td>
	                                    </tr>
	                                    <tr>
                                           <td>&nbsp;</td><td>&nbsp;</td>
                                        </tr>
	                                    <tr>
	                                        <td colspan="2"><div align="center"><a href="javascript:leggiPreventivo()" class="pulsante">Cerca Preventivo</a></div></td>
	                                    </tr>
	                                    <tr>
                                           <td>&nbsp;</td><td>&nbsp;</td>
                                        </tr>
										<tr>
											<td>Costo complessivo &nbsp;&nbsp; </td>
											<td>
											  <input type="hidden" name="costoAnalisi" value="##costoComplessivo">
											  <input name="costo_Analisi" id="costo_Analisi" type="text" class="testoCampi" value="##costoComplessivo" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" disabled>&nbsp;&#8364;&nbsp;&nbsp;
											</td>
										</tr>
                                    
                                    
                                      <tr>
                                        <td>Note del preventivo (dal laboratorio)</td>
                                        <td> <textarea name="noteLab" rows="5" cols="50" class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000"
                                        onKeyUp="return testLength(noteLab,512,'false');" onBlur="testLength(noteLab,512,'true');" readonly>##noteLab</textarea>
                                        </td>
                                      </tr>
                                    
                                    
                                      <tr>
                                        <td>Note (aggiungere informazioni aggiuntive o segnalare problemi)</td>
                                        <td> <textarea name="note" rows="5" cols="50" class="testoCampi" onKeyUp="return testLength(note,512,'false');" onBlur="testLength(note,512,'true');" ##readonly>##note</textarea>
                                        </td>
                                      </tr>
                                      </table>
                                    </form>
                                    <br>
                                    <table width="490" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td><div align="right"><a href="../view/fattura.jsp"><img src="../layout/im/b_tornaIndietro.gif" alt="torna indietro" width="150" height="16" border="0"></a></div></td>
                                        @@OK
                                        <td><a href="javascript:invia(document.terrenoAltreMatrici);"><img src="../layout/im/b_confermaProsegui.gif" alt="conferma e prosegui" width="150" height="16" border="0"></a></td>
                                        @@OK
                                        @@KO
                                        <td><a href="javascript:alert('Ricercare un preventivo per proseguire');"><img src="../layout/im/b_confermaProsegui.gif" alt="conferma e prosegui" width="150" height="16" border="0"></a></td>
                                        @@KO
                                      </tr>
                                    </table>
                                    <br>
                                  </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td bgcolor="#669933"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="CSI-Piemonte l'amministrazione piemontese alla portata di un clic"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
<script type="text/javascript">
@@ALERT
alert("Non è stata trovata alcuna corrispondenza con i dati utilizzati.");
@@ALERT
function invia(form){
    form.submit();
}

function leggiPreventivo(){
  var nP = document.getElementById('nPreventivo').value;
  var cf = document.getElementById('codFisc').value;
  if(!isNumber(nP)){
      alert("Il numero del preventivo deve essere un numero");
  }else{
	  var check=controllaCodiceFiscale(cf);
      if(check!="")
          alert(check);
      else
          window.location.href="../view/terrenoAltreMatrici.jsp?nP="+nP+"&cf="+cf+"&let=true";
  }
}
</script>
</html>
