/*
 html body{
  background-color: #fff;
  height: 100%;
  width: 100%;
}
*/

/* FULLSCREEN TUTTO SCHERMO IN TUTTI I BROWSER */
#div_mappa:-webkit-full-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#div_mappa:-moz-full-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ----- */
  
  
.map {
  height:100%;
  width:100%;
  display: inline-block;
}

/* mappe secondarie */
.mapSec {
  height:100%;
  width:100%;
  border:none;
  display: inline-block;
  background-color: #ffffff;
}
.tocSec {
  position: absolute;
  height:155px;
  width:250px;
  top: 28px;
  left: 0;
  z-index: 5000;
  overflow: auto;  
}
.btnTocSec{
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 5500;
}

/* --------------- */

.olControlAttribution {
    bottom:0.5em !important;
}
.zoom {
  position: absolute;
  z-index: 100000;
  margin: 5px;
  cursor: pointer;
}
.zoom .ui-icon {
  margin: 0 4px;
}
.zoom .ui-corner-all{
  margin: 2px;
  padding: 4px 0;
}
#layercontrol{
    float:right;
    width: 320px;
    border:solid 1px black;
    padding: 0px;
    background: #ececec;
}
.mq-widget {
    font-size:0.6em;
}
#layercontrol ul{
    padding: 0px;
    margin: 5px;
}
.mq-layercontrol {    
    margin: 2px;
    padding:2px;
}
.mq-layercontrol .ui-icon {
    margin-bottom:-2px;
    display:inline-block;
}
.mq-layercontrol-label {
    width:160px;   
    display:inline-block;
}
.mq-layercontrol-visibility {
    text-align: right;
}
.mq-layercontrol-delete {
    
}
.mq-mouseposition {
    display: block;
    width: 140px;
    height: 15px;
    font-size: 10px;
    text-align: center;
}
.mq-mouseposition-coordinate {
    display: inline-block;  
    margin:2px;      
}

#mouseposition div span{
  display: block;

}


.mq-overviewmap-dialog .ui-dialog-content{
    padding: 0.4em;
 
}
.mq-overviewmap-button {
  margin: 2px;
  padding: 4px ;
   cursor: pointer;
    margin: 5px;
 
    z-index: 999;
       bottom: 0;
    float: right;
    position: absolute;
    right: 0;
}

#layermanager{
     width: 300px;
}

#featureinfo {
    display: inline-block;
    min-height: 100px;
    height: auto;
    position: relative;
    vertical-align: top;
    width: 256px;
}

#featureinfo h1 {
    margin-left: 0.5em;
}

#featureinfo p {
    font-size: 1.5em;
    margin-left: 1em;
}

#popup {
    position:absolute;
}
#layermanager {
     display: inline-block;
    height: 256px;
    position: relative;
    vertical-align: top;
    width: 256px;
}
.mq-layermanager-element {
    display: block;
    padding: 2px;
    margin: 2px;
    background-image: url(img/bk_toc_01.png);
    color: #f5f5f5;
    border-bottom-color: #2d2d2d;
    border-right-color: #2d2d2d;
    border-left-color: #d5d5d5;
    border-top-color: #d5d5d5;
    border-radius: 7px;

    /*background-repeat: repeat-x;*/
}
.mq-layermanager-label {
    float: left;
    margin: 2px;
    color: #f5f5f5 !important;
    font-family: helvetica;
    font-weight: bold;
    font-size: 10px;
}
.ui-dialog-titlebar-close{
    height: 18px;    
    padding: 1px;
    float:right;
    width: 19px;
}
.mq-layermanager-element-header {
    cursor: move;
}

.mq-layermanager-element-visibility{
    display: block;
}
.mq-layermanager-element-vischeckbox{
    float: left;
    width: 19px;
    height: 19px;
}
.mq-layermanager-element-slider-container {
    display: block;
    margin: 0px 5px 0px 30px;
    padding: 10px;
}

#mouseposition span, #nome_comune{
	/*
  background-image: url(img/bk_input.png);
  border-top-color: #282828;
  border-left-color: #282828;
  border-bottom-color: #a4a4a4;
  border-right-color: #a4a4a4;
  background-position: 0px 0px;
  color: #fff;
  margin: 0 !important;
  */
}
.mq-zoomslider-slider{
  background-image: url(img/bk_slider_toc_vert.png);
  border-top-color: #282828;
  border-left-color: #282828;
  border-bottom-color: #a4a4a4;
  border-right-color: #a4a4a4;  
}
/*
.ui-layout-south, .ui-layout-north{
    background-image: url(img/bk_toc_01.png);
    color: #f5f5f5;
    border-bottom-color: #2d2d2d;
    border-right-color: #2d2d2d;
    border-left-color: #d5d5d5;
    border-top-color: #d5d5d5;
    border-radius: 5px;
}
.ui-layout-south{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.ui-layout-north{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ui-layout-center, .ui-layout-west, .ui-layout-east{
  border: 1px solid #000;
}
*/

.mq-zoomslider {
    position: absolute;
    float: left;
    margin: 10px;
    z-index: 10000;
   
}

.mq-wmslayermanager {
  padding: 3px;
  position: relative;
  background-color: #888;
}
.mq-wmslayermanager-element-content{
  background-color: #f5f5f5;
}
.mq-wmslayermanager-element-vischeckbox{
  vertical-align: middle;
}
.mq-wmslayermanager-element-header{
  cursor: pointer;  
}
.ui-state-highlight {
  height: 1.5em;
  line-height: 1.5em;
  margin-bottom: 2px;
  margin-top: 2px;
}

/* CSI */

 #toolbar {
  position: relative;
  /*position: absolute;
  width: 100%;
  height: auto;
  display: block;
  height: 31px;
  z-index: 5555;*/
 }
 /* support: IE7 */
 *+html #toolbar {
  display: inline;
 }
 
  #divInfo{
    display: inline-block;
    /*border:solid 1px #888;*/
    border: none;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #fff;
  }

/* toolbar */
.buttonSelectedToolbar{
  border: 2px solid #000 !important;
}

#mouseposition{
  position: absolute;
  top: -1px;
  right: 10px;
  z-index: 1000;
  width: 150px;
  color: #fff;
}
#mouseposition .mq-mouseposition{
  border: none;
  display: block;
}

#zoomslider{
  position: absolute;
  top: 80px;
  right: 40px;
}

.editPanel {
  position: absolute;
  bottom: 1px;
}


/* TOOLTIP */
.ui-tooltip, .arrow:after {
  /*background: black;*/
  border: 2px solid #03531B;
}
.ui-tooltip {
  padding: 10px 20px;
  /*color: white; */
  border-radius: 5px;
  font: bold 12px "Helvetica Neue", Sans-Serif;
  /* text-transform: uppercase; */
  box-shadow: 5 0 5px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  tranform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}


/* LAYER MANAGER */
#dia_listawms{
  width: 100%;
  height: 200px;
  border: 1px solid #333;
  margin-top: 10px;
  background-color: #fff;
}

.ui-effects-transfer{
  border: 1px dotted #9BB142;
}

#feedback { }
#dia_listawms {overflow: auto;}
#dia_listawms .ui-selecting { background: #FECA40; }
#dia_listawms .ui-selected { background: #F39814; color: white; }
#dia_listawms { list-style-type: none; margin: 0; padding: 0; }
#dia_listawms li { margin: 3px; padding: 1px; height: auto; }

#box_legenda{
  padding: 3px;
  overflow: auto;
}
.wmsabsbox{
  height: 28px;
}
.wmsabsbtn{
  float: right;
}
.wmsabstxt{
  float: left;
  margin-top: 0.4em;
  margin-left: 0.4em;
}
.wmsabsinfo{
  clear: both;
  margin: 0.4em;
}
/*
#div_dia_listawms{
  width: 100%;
  height: 200px;
  border: 1px solid #CCC;
  margin-top: 10px;
  background-color: #fff;
  overflow: auto;
}
*/
#dia_listawms li{
  border-radius: 2px;
}
.ui-selectable-helper{
  z-index: 6000;
}

#recupero_info{
  position: relative;
  width: 200px;
  height: 60px;
  left: 50%;
  margin-left: -100px;
  top: 50px;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
}
#noDataInfo{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 50%;
  margin-left: -100px;
  top: 50px;
  text-align: center;
}
/* METADATA EXPLORER */
#tabellaRicercaAvanzata label{
  width: 92px;
  text-align: right;
  display: inline-block;
  padding-right: 15px;
}
#dia_me_services{
  width: 400px;
}
#dia_me_titolo{
  width: 200px;
}
#dia_address label{
  width: 120px;
  display: inline-block;
}
#btn_rimovi_mirino{
  margin-top: 5px;
}
#dia_me_list{
  /*border: 1px solid #848484;*/
  width: 100%;
}
.me_titolo{
  font-weight: bold;
  margin-top: 5px;
}
.metaexp_table_form{
  width: 100%;
}
.metaexp_td_tasti{
  width: 100px;
  vertical-align: top;
  text-align: center;
}
.metaexp_td_tasti button{
  margin: 4px;
}
#dia_me_dettaglio{
  height: auto;
}

#dia_me_dettaglio_button{
  text-align: right;
}
#dia_me_dettaglio_text{
  margin-top: 3px;
}

/* ---------------- */
#layermanagergn{
  height: 400px;
  position: absolute;
  right: 10px;
  top: 50px;
}
#toolbar2{
  z-index: 5000;
  position: absolute;
  bottom: 0;
}

#langSelector{
  z-index: 50000;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ----------- FINESTRA ALERT ALTERNATIVA ---------- */
#alert_custom_table tr td{
  vertical-align: top;
  padding: 5px;
}

/* --- TOC TABS --- */
#layman_accordion{
  /*height: inherit;*/
  height: 100%;
  position: relative;
}
#tabs{
  position: relative;
}
#layman_tree{
  position: relative;
  height: 400px;
  /*overflow: auto;*/
}
#layman_acc_mappe{
  padding: 0;
  position: relative;
}
#layman_acc_legenda{
  padding: 0;
  position: relative;
}
#layermanagergn{ /* riquadro layers */
  position: absolute;
  overflow: auto;
  z-index: 1000;
  width: 250px;
  /* altezza TOC */
  height: 148px;
  background: none;
  background: none repeat scroll 0 0 rgba(50, 50, 50, 0.70);
}

.tocSec {
  position: absolute;
  overflow: auto;
  z-index: 1000;
  width: 250px;
  height: 360px;
  background: none;
  background: none repeat scroll 0 0 rgba(50, 50, 50, 0.70);
}

.mq-layermanager {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: none;
}

#maintoolbar2 label{
	/* background-image: url("img/bk_bottone.png"); */
}

/* --- MENU TASTO DESTRO TOC --- */
#LMST_menu{
  border:1px solid #aaa;
  position:absolute;
  background:#fff;
  top: 0;
  left: 0;
}


/* RICERCA INDIRIZZI */
#loading_address{
  float: right;
  margin-right: 5px;
  margin-top: 10px;
}

.legend_img_title{
  font-size: 11px;
}
#overview{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 100px;
  width: 100px;
}

.slidertoc{
  height: 15px;
}
.slidertoc .mq-layermanager-element-slider-container{
  height: 10px;
  padding: 0px;
}
.slidertoc .mq-layermanager-element-slider{
  height: 8px;
  background-image: url(img/bk_slider_toc.png);
  border-top-color: #404040;
  border-left-color: #404040;
  border-bottom-color: #a4a4a4;
  border-right-color: #a4a4a4;
  background-position: 0px 0px;
}

.ui-layout-resizer{
  /*background-image: url(img/bk_toc_01.png) !important;
  background-repeat: repeat;*/
  background-color: #777;
  border:none;
}

.slidertoc .ui-slider-handle{
  height: 20px;
  width: 20px;
  background: none;
  background-image: url(img/pomello_slider.png);
  cursor: pointer;
  top:  -5px;
  border: none;
}

.mq-zoomslider-slider .ui-slider-handle{
  height: 20px;
  width: 20px;
  background: none;
  background-image: url(img/pomello_slider.png);
  cursor: pointer;
  border: none;
  left: -5px;
}

.toc_switch{
  height: 34px;
  width: 20px;  
  background-image: url(img/switch_toc_off.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.toc_switchon{
  height: 34px;
  width: 20px;  
  background-image: url(img/switch_toc.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

#ico_m1{
  /*height: 30px;
  width: 30px;
  background-image: url(img/m1.png);
  background-repeat: no-repeat;*/
}

#ico_m2{
	/*
  height: 30px;
  width: 30px;
  background-image: url(img/m2.png);
  background-repeat: no-repeat;
  */
}

#ico_m3{
	/*
  height: 30px;
  width: 30px;
  background-image: url(img/m3.png);
  background-repeat: no-repeat;
  */
}

#layermanagergn{
  z-index: 10000;
}

 #div_find .ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
  height: 100px;
}


.ui-dialog .ui-icon{
  height: 15px;
  width: 15px;
}

#crediti{
	background-color: #fff;
	width: 100%;
	height: 100%;
}
#crediti p{
	padding: 5px;
	width: 100%;
	display: block;
	margin: 0px;
}

/* CORREZIONI PER AGGIRARE GLI STILI DI DEFAULT DI JOOMLA! */
#div_mappa ul{
  margin: 0px !important;
}

#div_mappa ul li{
  line-height: 18px !important;
}

button span{
  /*color: #fff !important;*/
}

.ui-widget-header{
  background-image: url(img/bk_bottone.png);
}


#buttonToc,
#btnTocSec_1,
#btnTocSec_2,
#btnTocSec_3,
#btnTocSec_4,
#btnTocSec_5{position:absolute;}


.classeEvidenziaBottone{
  background-image: none;
  background-color: #aa0000 !important;
}